.link {
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-color);
    text-decoration: none;
    display: block;
    text-align: right;
}

.link:hover {
    text-decoration: underline;
}

.invalid {
    font-size: 12px;
    margin-top: 8px;
    color: #dc3545;
}