@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "./toast.css"; 

:root {
    --primary-color: rgb(76, 76, 109);
    --secondary-color: #1B9C85;
    --text-color: #E8F6EF;
    --emphasis-color: #FFE194;
    --danger-color: #e74c3c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--text-color);
    position: relative;
}

.roboto-400 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.roboto-700 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}