.navbar-collapse {
    flex-grow: 0 !important;
}

.nav-link:not(:last-child):hover {
    opacity: .8;
}

.nav-link:last-child {
    padding: .5rem 1rem !important;
}

.nav-link:last-child:hover{
    background-color: var(--danger) !important;
    color: white;
}

@media screen and (max-width: 992px) {
    .navbar-collapse {
        text-align: left !important;
    }

    .nav-link:last-child {
        display: inline !important;
        width: auto !important;
    }
}