.toast {
    position: fixed;
    top: 0;
    right: 2rem;
    z-index: 999999;
    animation: slideIn 0.5s ease-in-out;
    transform: translateY(4rem);
}

@keyframes slideIn {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(4rem);
    }
}