{% with messages_success = get_flashed_messages(category_filter=["success"]) %}
{% if messages_success %}
{% for message in messages_success %}
<div class="toast show align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            {{ message }}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}

{% with messages_danger = get_flashed_messages(category_filter=["danger"]) %}
{% if messages_danger %}
{% for message in messages_danger %}
<div class="toast show align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            {{ message }}}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}