{% extends "index.html" %}

{% block style %}
<style>
    textarea {
        resize: none;
        height: 20vh;
    }

    #imagePreview {
        display: none;
    }

    .form-label {
        font-size: 14px;
    }
</style>
{% endblock %}

{% block content %}

<div class="container roboto-700">
    <div class="row h-100 d-flex justify-content-center align-items-center">
        <form class="form w-75 shadow-sm p-5" action="/addImage" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
                <label class="form-label text-secondary" for="title">Title</label>
                <input class="form-control" name="title" id="title" type="text" placeholder="Title" required />
            </div>
            <div class="mb-3">
                <label class="form-label text-secondary" for="desc">Description</label>
                <textarea class="form-control" name="description" id="desc" type="text" placeholder="Description"
                    required></textarea>
            </div>
            <input class="form-control" name="img" type="file" required />
            <div class="mt-3">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    window.addEventListener("load", function () {
        const navbarHeight = document.querySelector('.navbar').offsetHeight;
        const formContainer = document.querySelector('.container');
        formContainer.style.height = `calc(100vh - ${navbarHeight}px)`;
    });
</script>
{% endblock %}