{% extends "index.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
{% include "./partials/navbar.html" %}

<div class="gallery">
    <div>
        <a class="delete__all" href="{{ url_for('deleteAll') }}">Delete All</a>
    </div>
    {% if images|length > 0 %}
    <div class="image__container">
        {% for image in images %}
        <div class="image__box" style="background-image: url( {{ url_for('static', filename='image/' + image.path) }} );">
            <div class="image__footer">
                <p class="image-title roboto-700">{{ image.title }}</p>
                <div class="image-action roboto-400">
                    <div>
                        <button class="btn like--btn"><i class="fa-solid fa-up-long"></i></button>
                        <span class="image__data">12K</span>
                        <button class="btn dislike--btn"><i class="fa-solid fa-down-long"></i></button>
                    </div>
                    <div>
                        <i class="fa-solid fa-comment"></i>
                        <span class="image__data">150</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-eye"></i>
                        <span class="image__data">100</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h1 class="empty__text roboto-400">Image will be render here...</h1>
    {% endif %}
</div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/add_image.js') }}"></script>
{% endblock %}
