{% extends "index.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
{% include "./partials/navbar.html" %}
{% include "./partials/add_image.html" %}

<div class="gallery">
    <h1 class="header roboto-700">Gallery</h1>

    {% if images|length > 0 %}
    <div class="image__container">
        {% for image in images %}
        <div class="image__box" style="background-image: url( {{ url_for('static', filename='image/' + image) }} );">
            <div class="image__box-inline">
                <a class="image__btn btn-share roboto-700" href="#">Share</a>
                <a class="image__btn btn-delete roboto-700" href="{{ url_for('delete_image', filename=image) }}">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h1 class="empty__text roboto-400">Image will be render here...</h1>
    {% endif %}
</div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/add_image.js') }}"></script>
{% endblock %}
