{% extends "index.html" %}

{% block style %}
<style>
    .image__box {
        width: 320px;
        padding: 0;
        overflow: hidden;
    }

    .fs-7 {
        font-size: .8rem;
    }

    .img {
        width: 320px !important;
        height: 240px !important;
        object-fit: cover;
    }

    .text-slate-300 {
        color: #94a3b8;
    }

    .card-body {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, .5);
        color: #fff;
        padding: 10px;
        transition: all .5s ease-in-out;
    }
</style>
{% endblock %}

{% block content %}

<div class="container-fluid" id="home">
    <div class="d-none">
        <a class="delete__all" href="{{ url_for('deleteAll') }}">Delete All</a>
    </div>

    {% if images|length > 0 %}
    <div class="row d-flex flex-wrap justify-content-center p-5">

        {% for image in images %}

        <div class="card image__box m-3 shadow-sm" data-image-id="{{ image.id }}">
            <a href="{{ url_for('singleImage', image_id=image.id) }}">
                <img src="{{ url_for('static', filename='image/' + image.path) }}" class="img" loading="lazy">
            </a>
            <div class="card-body">
                <p class="fs-6 my-auto">{{ image.title }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row d-flex flex-wrap justify-content-center p-5">
        <h5 class="text-slate-300">Image will be render here...</h5>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script>
    window.addEventListener("load", function () {
        const navbarHeight = document.querySelector('.navbar').offsetHeight;
        const container = document.querySelector('#home');
        container.style.height = `calc(100vh - ${navbarHeight}px)`;
    });
</script>
{% endblock %}