{% extends "index.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}


{% block content %}
<div class="auth__container roboto-700">
    <form action="" method="POST" class="form">
        <h1 class="header">Login</h1>
        {{ form.hidden_tag() }}

        <div class="input__box">
            {{ form.username.label(class="form-label") }}
            {{ form.username(size=20, class="form-control") }}
            {% for error in form.username.errors %}
                <div class="invalid roboto-400">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="input__box">
            {{ form.password.label(class="form-label") }}
            {{ form.password(size=20, class="form-control") }}
            {% for error in form.password.errors %}
                <div class="invalid roboto-400">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <a href="{{ url_for('register') }}" class="link">Don't have an account?</a>
        {{ form.submit(class="submit__btn") }}
    </form>
</div>
{% endblock %}