{% extends "index.html" %}

{% block content %}
<div class="min-vh-100 d-flex justify-content-center align-items-center flex-column">
    <h1>Register</h1>
    <form action="" method="POST" class="w-25">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(size=20, class="form-control") }}
            {% for error in form.username.errors %}
            <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(size=20, class="form-control") }}
            {% for error in form.email.errors %}
            <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(size=20, class="form-control") }}
            {% for error in form.password.errors %}
            <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}